<!doctype html>
<html>
    <head>
        <style>
            #heading{
                color: blanchedalmond ;
            background: linear-gradient(to left, #ffff, blue) }
        </style>

    </head>
    <body>
        <header>
            <nav>

            </nav>
            <h1 id ="heading"> Hello world!</h1>
            <%= data.title %>
        </header>
    </body>
    <footer></footer>
</html>